[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=CART_ENDPOINT=cart.devops-b-71.online
Environment=CATALOGUE_HOST=catalogue.devops-b-71.online
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target